.paletaDeColores{
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    background: linear-gradient(135deg, #340c3dff 0%, #0e0111ff 100%);
    background-color: #667eea;
    background-color: #764ba2;
    color: #abffffff;
}

.tipoDeLetra{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

.efectoNeon{
    text-shadow:
            0 0 4px rgba(0,240,255,0.6),
            0 0 14px rgba(0,240,255,0.35),
            0 6px 40px rgba(0,0,0,0.6);
}